<template>
<v-app>
<div>
    <div>{{mobile}}</div>
    <div>22小时10分30秒</div>
     <v-btn color="success">打卡</v-btn>
      <v-btn color="error">Error</v-btn>
    <div>{{`${emergencyContactName}${emergencyContactMobile}`}}</div>
</div>
</v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

export default class Clock extends Vue {
  private mobile: string = '1899999999';
  private name: string = '王先生';
  private clockTime: string = '2018-10-26T15:47:03.342+0000';
  private emergencyContactName: string = '袁小姐';
  private emergencyContactMobile: string = '1899999999';
}
</script>